@model TechJobs.Models.Job;


    <table class="job-listing">
        
        <tr>
            <td>Name</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Employer</td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="Employer" asp-route-value="@Model.Employer">@Model.Employer</a></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="Location" asp-route-value="@Model.Location">@Model.Location</a></td>
        </tr>
        <tr>
            <td>Skill</td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="CoreCompetency" asp-route-value="@Model.CoreCompetency">@Model.CoreCompetency</a></td>
        </tr>
        <tr>
            <td>Position Type</td>
            <td><a asp-controller="List" asp-action="Jobs" asp-route-column="PositionType" asp-route-value="@Model.PositionType">@Model.PositionType</a></td>
        </tr>
    </table>